# Compiled object files
obj/
*.o
*.ko
*.obj
*.elf

# Compiled executable files
bin/
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Database files
database/*.txt

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor specific files
.vscode/
.idea/
*.swp
*~
